*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: rgb(4, 97, 151);
}

.card-img-top {
  width: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
  object-position: center;
}
.card {
  height: 100%;
}
